/* font-family: 'Inter', sans-serif; */

:root {
  --black: #000000;
  --light-black: #303030;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/*---------------REUSABLE-------------------*/
.flex {
  display: flex;
}
.w-auto {
  width: auto;
}
.ta-center {
  text-align: center;
}
.ta-left {
  text-align: left;
}

/* ------------------Main Section---------------*/
.big-container {
  height: 100%;
  flex-flow: row wrap;
}
.bg-morning {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('starter-code/assets/desktop/bg-image-daytime.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: auto;
  overflow: hidden;
}
.bg-evening {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('starter-code/assets/desktop/bg-image-nighttime.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: auto;
  overflow: hidden;
}
.main-container {
  flex-direction: column;
  height: 100vh;
  color: var(--white);
  flex-basis: 75%;
}
.quote-container {
  margin-top: 5%;
  margin-left: 10%;
  width: 700px;
}
.quote {
  height: auto;
  font-size: 110%;
}
.author {
  margin-top: 4%;
  font-size: 90%;
  font-weight: 700;
}
.time-container {
  margin-top: 25%;
  flex-flow: row wrap;
  margin-left: 10%;
}
.day-or-night {
  font-size: 140%;
  text-transform: uppercase;
  flex-basis: 100%;
}
.time {
  font-size: 800%;
  flex-basis: 40%;
  font-weight: 700;
}
.time-zone {
  font-size: 300%;
  flex-basis: 40%;
  margin-bottom: 3%;
  align-self: flex-end;
}
.location {
  font-size: 250%;
  font-weight: 700;
  flex-basis: 100%;
}
.button-container {
  height: 100vh;
  flex-basis: 25%;
}
.btn-more {
  margin-top: 170%;
  cursor: pointer;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  letter-spacing: 1px;
  align-items: center;
  border: none;
  justify-content: center;
}
.btn-text {
  letter-spacing: 1px;
  margin-right: 2%;
  font-size: 110%;
}
.btn-arrow {
  transform: rotate(180deg);
  height: 40px;
}
.btn-arrow-up {
  transform: rotate(0deg);
}

/* EXPANDED SECTION  */
.bg-white {
  background-color: rgba(240, 239, 239, 0.925);
}
.bg-black {
  background-color: rgba(0, 0, 0, 0.856);
  color: white;
}
.expanded-container {
  height: 50vh;
  width: 100%;
  overflow: hidden;
}
.info-container {
  height: 200px;
  width: 700px;
  margin: 5% auto;
  text-transform: uppercase;
  flex-flow: row wrap;
}
.expanded-text {
  font-size: 240%;
  font-weight: 700;
  margin-top: 2%;
}
.flexb-fourty {
  flex-basis: 40%;
  font-size: 105%;
  letter-spacing: 1px;
}
.flexb-sixty {
  flex-basis: 60%;
  font-size: 105%;
  letter-spacing: 1px;
}

/*--------------MEDIA QUERIES-------------*/

@media only screen and (max-width: 950px) {
  .big-container {
    flex-flow: column;
    height: 100vh;
  }
  .main-container {
    flex-basis: 100%;
  }
  .time-container {
    margin-top: 15%;
  }
  .bg-morning {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('starter-code/assets/tablet/bg-image-daytime.jpg');
  }
  .bg-evening {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('starter-code/assets/tablet/bg-image-nighttime.jpg');
  }
  .button-container {
    flex-basis: 100%;
    height: auto;
    margin: 5% 0 0 10%;
  }
  .btn-more {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 768px) {
  .bg-morning {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('starter-code/assets/mobile/bg-image-daytime.jpg');
  }
  .bg-evening {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('starter-code/assets/mobile/bg-image-nighttime.jpg');
  }
  .quote-container {
    width: 400px;
  }
  .time {
    font-size: 600%;
    flex-basis: 30%;
  }
  .time-zone {
    font-size: 200%;
    flex-basis: 30%;
  }
  .info-container {
    flex-flow: column;
    margin-left: 5%;
  }
  .expanded-time-zone {
    flex-basis: 100%;
  }
  .day-of-week {
    flex-basis: 100%;
    text-align: left;
  }
  .day-of-year {
    flex-basis: 100%;
  }
  .week {
    flex-basis: 100%;
    text-align: left;
  }
  .expanded-text {
    font-size: 220%;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1300px) {
  .time {
    flex-basis: 30%;
  }
  .time-zone {
    flex-basis: 30%;
  }
}

/*show or hide*/
.hidden {
  display: none;
}
.show {
  display: block;
}
