/* font-family: 'Inter', sans-serif; */

:root {
  --black: #000000;
  --light-black: #303030;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.big-container {
  display: flex;
  width: auto;
  height: 100vh;
  border: solid 2px pink;
  flex-flow: row wrap;
}
.bg-morning {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('starter-code/assets/desktop/bg-image-daytime.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: auto;
  overflow: hidden;
}
.bg-evening {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('starter-code/assets/desktop/bg-image-nighttime.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: auto;
  overflow: hidden;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  color: var(--white);
  flex-basis: 75%;
}
.quote-container {
  margin-top: 5%;
  text-align: left;
  margin-left: 10%;
  width: 700px;
}
.quote {
  height: auto;
  width: auto;
  font-size: 110%;
}
.author {
  margin-top: 4%;
  font-size: 90%;
  font-weight: 700;
}
.time-container {
  text-align: left;
  margin-top: 25%;
  display: flex;
  flex-flow: row wrap;
  margin-left: 10%;
}
.day-or-night {
  font-size: 140%;
  text-transform: uppercase;
  flex-basis: 100%;
}
.time {
  font-size: 800%;
  flex-basis: 50%;
  font-weight: 700;
}
.time-zone {
  font-size: 300%;
  flex-basis: 50%;
  margin-bottom: 3%;
  align-self: flex-end;
}
.location {
  font-size: 250%;
  font-weight: 700;
  flex-basis: 100%;
}
.button-container {
  height: 100vh;
  flex-basis: 25%;
}
.btn-more {
  display: flex;
  margin-top: 170%;
  cursor: pointer;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  letter-spacing: 1px;
  align-items: center;
  border: none;
  justify-content: center;
}
.btn-text {
  letter-spacing: 1px;
  margin-right: 2%;
  font-size: 110%;
}
.btn-arrow {
  transform: rotate(180deg);
  height: 40px;
  width: auto;
}
.btn-arrow-up {
  transform: rotate(0deg);
}

/* EXPANDED SECTION  */
.expanded-container {
  height: 50vh;
  width: 100%;
  background-color: rgba(240, 239, 239, 0.925);
  border: 1px solid blue;
}
.info-container {
  display: flex;
  height: 200px;
  width: 700px;
  border: 2px solid black;
  margin: 5% 0 0 20%;
  text-transform: uppercase;
  flex-flow: row wrap;
}
.expanded-time-zone {
  flex-basis: 60%;
  font-size: 80%;
  letter-spacing: 1px;
}
.expaned-text {
  font-size: 200%;
  font-weight: 700;
  margin-top: 2%;
}
.day-of-week {
  flex-basis: 40%;
  font-size: 80%;
  letter-spacing: 1px;
  text-align: center;
}
.day-of-year {
  flex-basis: 60%;
  font-size: 80%;
  letter-spacing: 1px;
}
.week {
  flex-basis: 40%;
  font-size: 80%;
  letter-spacing: 1px;
  text-align: center;
}

.show {
  display: block;
}
.hidden {
  display: none;
}
